body {
  scroll-behavior: smooth;
}

section {
  padding: 80px 0;
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  background-color: white;
  transition: background-color 0.3s;
}

.navbar-brand,
.nav-link {
  color: #333 !important;
}
.navbar-nav .nav-link {
  transition: color 0.3s, text-decoration 0.3s;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.dark-mode .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f8f9fa;
  transition: background-color 0.3s, color 0.3s;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  padding: 20px;
  text-align: center;
  background: #f8f9fa;
  transition: background-color 0.3s, color 0.3s;
}


